{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "import/extensions": ["error","always", {"ignorePackages": true} ],
    "no-await-in-loop": "off",
    "no-use-before-define":["error", { "functions": false, "classes": false }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-plusplus":"off",
    "class-methods-use-this":"off"
  },
  "globals": {
    "describe":true,
    "it":true
  }
}
